<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="resources/CASE_Modeling_Guidelines.aadl"
            id="com.collins.trustedsystems.briefcase.aadlcontribution.casemodelingguidelines">
      </aadlcontribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.collins.trustedsystems.briefcase.preferences.BriefcasePreferencePage"
            id="com.collins.trustedsystems.briefcase.preferences.BriefcasePreferencePage"
            name="BriefCASE">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.collins.trustedsystems.briefcase.preferences.BriefcasePreferenceInitializer">
      </initializer>
   </extension>

</plugin>
