<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.rockwellcollins.atc.resolute.analysis.external.resoluteExternalFunctionLibrary">
      <externalLibrary
            libraryClass="com.collins.trustedsystems.briefcase.assurance.Assurance"
            name="BriefCASE"
            typeClass="com.collins.trustedsystems.briefcase.assurance.AssuranceType">
      </externalLibrary>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.collins.trustedsystems.briefcase.preferences.BriefcasePreferencePage"
            class="com.collins.trustedsystems.briefcase.assurance.preferences.AssurancePreferencePage"
            id="com.collins.trustedsystems.briefcase.assurance.preferences.AssurancePreferencePage"
            name="Assurance">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.collins.trustedsystems.briefcase.assurance.preferences.AssurancePreferenceInitializer">
      </initializer>
   </extension>

</plugin>
