<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.rockwellcollins.atc.resolute.analysis.external.resoluteExternalFunctionLibrary">
      <externalLibrary
            libraryClass="com.collins.trustedsystems.briefcase.assurance.Assurance"
            name="BriefCASE"
            typeClass="com.collins.trustedsystems.briefcase.assurance.AssuranceType">
      </externalLibrary>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.collins.trustedsystems.briefcase.preferences.BriefcasePreferencePage"
            class="com.collins.trustedsystems.briefcase.assurance.preferences.AssurancePreferencePage"
            id="com.collins.trustedsystems.briefcase.assurance.preferences.AssurancePreferencePage"
            name="Assurance">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.collins.trustedsystems.briefcase.assurance.preferences.AssurancePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.collins.trustedsystems.briefcase.menus.outline.assurance?after=additions">
         <command
               commandId="com.collins.trustedsystems.briefcase.assurance.ArtifactDescriptionManager"
               label="Artifact Description Manager"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.collins.trustedsystems.briefcase.menus.editor.assurance">
         <command
               commandId="com.collins.trustedsystems.briefcase.assurance.ArtifactDescriptionManager"
               label="Artifact Description Manager"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.collins.trustedsystems.briefcase.menus.menubar.assurance">
         <command
               commandId="com.collins.trustedsystems.briefcase.assurance.ArtifactDescriptionManager"
               label="Artifact Description Manager"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.collins.trustedsystems.briefcase.menus.diagram.assurance">
         <command
               commandId="com.collins.trustedsystems.briefcase.assurance.ArtifactDescriptionManager"
               label="Artifact Description Manager"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.collins.trustedsystems.briefcase.assurance.ArtifactDescriptionManager"
            name="Artifact Description Manager">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.collins.trustedsystems.briefcase.assurance.artifact.ArtifactDescriptionHandler"
            commandId="com.collins.trustedsystems.briefcase.assurance.ArtifactDescriptionManager">
      </handler>
   </extension>

</plugin>
