<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.rockwellcollins.atc.resolute.analysis.external.resoluteExternalFunctionLibrary">
      <externalLibrary
            libraryClass="com.collins.trustedsystems.briefcase.modelaccess.ModelAccess"
            name="ModelAccess"
            typeClass="com.collins.trustedsystems.briefcase.modelaccess.ModelAccessType">
      </externalLibrary>
   </extension>

</plugin>
